
html,
body{
    overflow-x: hidden;
    height: 100%;
    background-color: black;
}

.full-size-div {
  position: absolute;
  width: 100%;
  height: 100%;
}

#colOne
{
	height: 100%;
	left: 0;
  text-align: center;
  display: block;
}

#colOne > img{
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
}
#colOne > img:hover{
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
}

#colOne > img{
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
}

.slide
{
  opacity: 0;
  object-fit: cover;
  -webkit-transition: opacity 2500ms ease-in-out;
  -moz-transition: opacity 2500ms ease-in-out;
  -o-transition: opacity 2500ms ease-in-out;
  transition: opacity 2500ms ease-in-out;
}

.slide2
{
  opacity: 0;
  object-fit: cover;
  -webkit-transition: opacity 2500ms ease-in-out;
  -moz-transition: opacity 2500ms ease-in-out;
  -o-transition: opacity 2500ms ease-in-out;
  transition: opacity 2500ms ease-in-out;
} 

.active {
  opacity:1;
  z-index:98;
}

.homeButton
{
  z-index: 99;
  position: absolute;
}
.commercialButton{
  z-index: 99;
  position: absolute; 
  display: inline;
}

#colOne > a:link,
#colOne > a:visited,
#colOne > a:hover,
#colOne > a:active{
  text-decoration: none;
  color: white;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 70vh;
  padding: 15px 30px 15px 30px;
  background-color: black;
  font-size: 32px;
}
#colOne > a:hover{
  background-color: #fed136;
  color: black;
}

#colThree > a:link,
#colThree > a:visited,
#colThree > a:hover,
#colThree > a:active{
  text-decoration: none;
  color: white;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 70vh;
  padding: 15px 30px 15px 30px;
  background-color: black;
  font-size: 32px;
}
#colThree > a:hover{
  background-color: #4cb0ed;
  color: black;
}

#colTwo{
	height: 100%;
  left: 0;
}

.background{
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
  object-fit: cover;
  z-index: 0;
  filter: brightness(50%);
    -webkit-filter: brightness(50%);
}

.logo{
  z-index: 99;
  height: 100px;
  width: 550px;
  margin-top: 45vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}

#colThree
{
	height: 100%;
  left: 0;
}

#colThree > img{
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
}
#colThree > img:hover{
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
}

#colThree > img{
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
}