
html,
body{
    overflow-x: hidden;
    height: 100%;
    background-color: black;
}

.full-size-div {
  position: absolute;
  width: 100%;
  height: 100%;
}

#colOne
{
  width: 100%;
	height: 33vh;
	left: 0;
  text-align: center;
  display: block;
  float: none;
}

#colOne > img{
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
}
#colOne:hover > img{
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
}
#colOne:hover a{
  background-color: rgba(74, 75, 76, 0.85);
  border: 3px solid white;
}

#colOne > img{
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
}

#colOne > a:link,
#colOne > a:visited,
#colOne > a:hover,
#colOne > a:active{
  text-decoration: none;
  color: white;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 1.5vh 1.5vw 1.5vh 1.5vw;
  font-size: 3vh;
  position: relative;
}

#colOne > a:hover{
  background-color: rgba(254, 209, 54, 0.85);
  color: white;
}

#colTwo{
  height: 34vh;
  width: 100%;
  left: 0;
  float: none;
}

#colThree
{
  height: 33vh;
  width: 100%;
  left: 0;
  text-align: center;
  float: none;
}

#colThree > img{
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
}
#colThree:hover > img{
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
}

#colThree > img{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

#colThree > a:link,
#colThree > a:visited,
#colThree > a:hover,
#colThree > a:active{
  text-decoration: none;
  color: white;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 1.5vh 1.5vw 1.5vh 1.5vw;
  font-size: 2vh;
}

#colThree:hover a{
  background-color: rgba(74, 75, 76, 0.85);
  border: 3px solid white;
}

#colThree > a:hover{
  background-color: rgba(0, 143, 230, 0.85);
  color: white;
}

.slide
{
  opacity: 0;
  object-fit: cover;
  -webkit-transition: opacity 2500ms ease-in-out;
  -moz-transition: opacity 2500ms ease-in-out;
  -o-transition: opacity 2500ms ease-in-out;
  transition: opacity 2500ms ease-in-out;
}

.slide2
{
  opacity: 0;
  object-fit: cover;
  -webkit-transition: opacity 2500ms ease-in-out;
  -moz-transition: opacity 2500ms ease-in-out;
  -o-transition: opacity 2500ms ease-in-out;
  transition: opacity 2500ms ease-in-out;
} 

.active {
  opacity:1;
  z-index:98;
}

.homeButton
{
  z-index: 99;
  position: relative;
  top: 25vh;
}
.commercialButton{
  z-index: 99;
  position: relative;
  top: 80vh;
}

.background{  
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
  object-fit: cover;
  z-index: 0;
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
}

.logo{
  z-index: 99;
  height: 16vh;
  width: 66vw;
  padding-top: 6vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}

@media (min-width: 768px) {
  .logo{
    height: 13vh;
    width: 28vw;
    margin-top: 35vh;
  }

  .homeButton{
    top: 80vh;
  }

  #colOne{
    width: 33%;
    height: 100vh;
    float: left;
  }

  #colTwo{
    width: 34%;
    height: 100vh;
    float: left;
  }

  #colThree{
    width: 33%;
    height: 100vh;
    float: left;
  }
}

