
html,
body{
  overflow-x: hidden;
  height: 100%;
  background-color: black;
}

.full-size-div {
  position: absolute;
  width: 100%;
  height: 100%;
}

#colOne
{
  width: 100%;
	height: 33%;
	left: 0;
  text-align: center;
  display: block;
  float: none;
}

#colOne:hover > img{
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
}

#colTwo:hover > img{
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
}

#colThree:hover > img{
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
}

#colOne > a{
  border: 3px solid white;
  background-color: rgba(254, 209, 54, 0.85);
  color: white;
}

#colOne > img{
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
}

#colOne > a:link,
#colOne > a:visited,
#colOne > a:hover,
#colOne > a:active{
  text-decoration: none;
  color: white;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 1.5vh 1.5vw 1.5vh 1.5vw;
  font-size: 4vw;
  position: relative;
}

#colTwo > a:link,
#colTwo > a:visited,
#colTwo > a:hover,
#colTwo > a:active{
  text-decoration: none;
  color: white;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 1.5vh 1.5vw 1.5vh 1.5vw;
  font-size: 4vw;
  position: relative;
}

#colTwo > a{
  border: 3px solid white;
  background-color: rgba(140, 255, 102, 0.85);
  color: white;
}

#colTwo{
  height: 34%;
  width: 100%;
  left: 0;
  text-align: center;
  float: none;
}

#colThree
{
  height: 33%;
  width: 100%;
  left: 0;
  text-align: center;
  float: none;
}

#colThree > img{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

#colThree > a:link,
#colThree > a:visited,
#colThree > a:hover,
#colThree > a:active{
  text-decoration: none;
  color: white;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 1.5vh 1.5vw 1.5vh 1.5vw;
  font-size: 4vw;
}

#colThree > a{
  border: 3px solid white;
  background-color: rgba(0, 143, 230, 0.85);
  color: white;
}

.slide
{
  opacity: 0;
  object-fit: cover;
  -webkit-transition: opacity 2000ms ease-in-out;
  -moz-transition: opacity 2000ms ease-in-out;
  -o-transition: opacity 2000ms ease-in-out;
  transition: opacity 2000ms ease-in-out;
}

.slide2
{
  opacity: 0;
  object-fit: cover;
  -webkit-transition: opacity 2000ms ease-in-out;
  -moz-transition: opacity 2000ms ease-in-out;
  -o-transition: opacity 2000ms ease-in-out;
  transition: opacity 2000ms ease-in-out;
} 

.active {
  opacity:1;
  z-index:98;
}

.button
{
  z-index: 99;
  position: relative;
  top: 23vh;
}

.blogButton
{
  z-index: 99;
  position: relative;
  top: 34vh;
}

.background{  
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
  object-fit: cover;
  z-index: 0;
}

.logo{
  z-index: 99;
  height: 14vh;
  width: 68vw;
  padding-top: 6vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}

@media (min-width: 480px){
  #colOne{
    width: 33%;
    height: 100vh;
    float: left;
  }

  #colTwo{
    width: 34%;
    height: 100vh;
    float: left;
  }

  #colThree{
    width: 33%;
    height: 100vh;
    float: left;
  }

  .button{
    top: 86vh;
  }

  .blogButton
  {
    z-index: 99;
    position: relative;
    top: 34vh;
  }

  #colOne a{
    border: 2px solid white;
  }

  #colThree a{
    border: 2px solid white;
  }

  #colTwo a{
    border: 2px solid white;
  }

  #colTwo {
     padding-left: 1vw;
     padding-right: 1vw;
  }

  .logo{
    height: 17vh;
    width: 32vw;
    margin-top: 35vh;
    left: 0;
  }

  #colThree > a:link,
  #colThree > a:visited,
  #colThree > a:hover,
  #colThree > a:active{
    font-size: 1.8vw;
    padding: 1.7vw 1.5vw 1.7vw 1.5vw;
  }

  #colOne > a:link,
  #colOne > a:visited,
  #colOne > a:hover,
  #colOne > a:active{
    font-size: 1.8vw;
    padding: 1.7vw 1.5vw 1.7vw 1.5vw;
  }

  #colTwo > a:link,
  #colTwo > a:visited,
  #colTwo > a:hover,
  #colTwo > a:active{
    font-size: 1.8vw;
    padding: 1.7vw 1.5vw 1.7vw 1.5vw;
  }

}

@media (min-width: 768px) {

  #colOne > img{
      filter: brightness(50%);
      -webkit-filter: brightness(50%);
  }

  #colTwo > img{
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
  }

  #colThree > img{
      filter: brightness(50%);
      -webkit-filter: brightness(50%);
  }

  #colOne > a{
    border: none;
    background-color: rgba(0,0,0,0);
    color: white;
  }

  #colOne:hover a{
    background-color: rgba(74, 75, 76, 0.85);
    border: 2px solid white;
  }

  #colOne > a:hover{
    background-color: rgba(254, 209, 54, 0.85);
    color: white;
  }

  #colThree > a{
    border: none;
    background-color: rgba(0,0,0,0);
    color: white;
  }

  #colThree:hover a{
    background-color: rgba(74, 75, 76, 0.85);
    border: 2px solid white;
  }

  #colThree > a:hover{
    background-color: rgba(0, 143, 230, 0.85);
    color: white;
  }

  #colTwo > a{
    border: none;
    background-color: rgba(0,0,0,0);
    color: white;
  }

  #colTwo:hover a{
    background-color: rgba(74, 75, 76, 0.85);
    border: 2px solid white;
  }

  #colTwo > a:hover{
    background-color: rgba(0, 128, 0, 0.85);
    color: white;
  }

  #colThree > a:link,
  #colThree > a:visited,
  #colThree > a:hover,
  #colThree > a:active{
    font-size: 1.3vw;
    padding: 1.5vh 1.5vw 1.5vh 1.5vw;
  }

  #colOne > a:link,
  #colOne > a:visited,
  #colOne > a:hover,
  #colOne > a:active{
    font-size: 1.3vw;
    padding: 1.2vh 1.5vw 1.2vh 1.5vw;
  }

  #colTwo > a:link,
  #colTwo > a:visited,
  #colTwo > a:hover,
  #colTwo > a:active{
    font-size: 1.3vw;
    padding: 1.2vh 1.5vw 1.2vh 1.5vw;
  }

  #colOne{
    width: 33%;
    height: 100vh;
    float: left;
  }

  #colTwo{
    width: 34%;
    height: 100vh;
    float: left;
  }

  #colThree{
    width: 33%;
    height: 100vh;
    float: left;
  }

  .blogButton
  {
    z-index: 99;
    position: relative;
    top: 39vh;
  }

  .logo{
    height: 12vh;
    width: 30vw;
    margin-top: 35vh;
  }

}

@media (min-width: 992px) {
  
  .logo{
    height: 15%;
    width: 80%;
    margin-top: 35vh;
  }

   .blogButton
  {
    z-index: 99;
    position: relative;
    top: 36vh;
  }

  #colThree > a:link,
  #colThree > a:visited,
  #colThree > a:hover,
  #colThree > a:active{
    font-size: 1.4vw;
  }

  #colTwo > a:link,
  #colTwo > a:visited,
  #colTwo > a:hover,
  #colTwo > a:active{
    font-size: 1.4vw;
  }

  #colOne > a:link,
  #colOne > a:visited,
  #colOne > a:hover,
  #colOne > a:active{
    font-size: 1.4vw;
  }

}


